h1.svelte-8lferx,p.svelte-8lferx{margin:0 auto}h1.svelte-8lferx{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8lferx{margin:1em auto}@media(min-width: 480px){h1.svelte-8lferx{font-size:4em}}
