@import 'menu-178d3906.css';h1.svelte-mbs4hh{text-align:center;margin:0 auto}h1.svelte-mbs4hh{font-size:2.8em;text-transform:uppercase;font-weight:700;margin:0 0 0.5em 0}@media(min-width: 480px){h1.svelte-mbs4hh{font-size:4em}}
